#*.el
*.elc
/ac-comphist.dat
/.cask/
/.mc-lists.el
/.python-environments/
/backups/
/oauth2.plstore
/recentf
/request/
/srecode-map.el
/tramp
/tutorial/
/url/
/var/
/auto-save-list/
/eshell/
/ido.last
/latex-math-preview-cache/
/elpa/
/elpa
/commented_out_config.el
/initemacs.el
/semanticdb/
/session.*
/.emacs_workgroups
/.org-id-locations
/bookmarks
/.#.emacs_workgroups
/image-dired/
/irony/
